@charset "UTF-8";

#main {
  height: 120vh;
}
#main .title .title_top .intro_list {
  margin-bottom: 60px;
}
#main .title .title_top .intro_list ul.intro>li {
  color: var(--color-Accent);
} 
#main .title .title_top .intro_list ul.intro>li:nth-child(2) {
  color: var(--color-Text1);
} 
#main .title .title_top .intro_list ul.intro li:nth-child(2) h3 {
  border-bottom: 0.5px solid var(--color-Text1);
}
#main .title .title_top .intro_list ul.intro>li:hover h3 {
  border-bottom: 1px solid rgba(125, 135, 168, 0.45);
}
#main .about_me {
  height: 80%;
  padding: 50px 30px;
  border: 5px solid rgb(125, 135, 168, 0.5);
  border-radius: 20px;
}
#main .about_me h2 {
  font-size: 3rem;
  font-weight: 700;
}
#main .about_me .personality {
  width: 60%;
  font-size: 1.8rem;
  font-weight: 600;
}
#main .about_me .personality ul {

}
#main .about_me .personality ul li.mbti {
  position: relative;
}
#main .about_me .personality ul li.mbti span {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-Accent);
}
#main .about_me .personality ul li.mbti span::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 400px;
  top: 0;
  right: 0;
  background: url(../img/isfp.png) center center / cover;
}

#main .about_me .personality ul li.hobby {

}
#main .about_me .personality ul li {

}

#main .follow {
  border-top: none;
  width: 100%;
  justify-content: end;
  padding-top: 0;
}