@charset "UTF-8";

.project {
  background: var(--color-MainBg);
}
.project .header {

}
.project .header h1 {
  font-size: 2rem;
  margin-bottom: 80px;
}
.project .header h1 span {
  font-size: 2rm;
  color: var(--color-Accent);

}
.project .header h1 p {
  font-size: 3rem;
}
.project .main {
  display: flex;
}
.project .main .main_left {
  position: relative;
  display: block;
  width: 60%;
  margin-right: 80px;
}
.project .main .main_right {
  
}
.project .main a {
  display: inline-block;
}
.project .main .main_img {
  position: relative;
  cursor: pointer;
  border: 3px solid var(--color-Accent);
  border-radius: 20px;
  transition: .6s ease-out;
  width: 100%;
}
.project .main .main_img img {
  border-radius: 20px;
  padding: 20px;
}
.project .main .main_text {
  margin-top: 30px;
}
.project .main .main_text h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--color-Accent);
}
.project .main .main_text li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: var(--color-Text1);
}
.project .main .main_text a {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-Text1);
}

.skill_list {
  display: flex;
  justify-content: space-around;
}



